* {
    /* border: 1px solid red; */
}


html {
    height: auto;
}

body {
    color: #333;
    background-color: white;
}

a {
    color: black;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.image {
    width: 100%;
    height: 600px;
} 

.article-2{
    margin-left: 30%;
    margin-right: 30%;
}

.time1 ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.time2 i {
    border-radius: 50%;
    background-color: #eeeeee;
    padding: 5PX;
    margin: 5px;
}

.sidebar-img {
    width: 75px;
    height: 75px;
    margin-left: 80px;
}

.article-3 {
    display: grid;
    grid-template-columns: 70% 30%;
}

.article-content {
    margin-left: 43%;
}

h6 {
    margin-left: 80px;
}

.editor-text {
    position: absolute;
    margin: 7px;
}

aside {
    margin-top: 80px;
}

.inflation {
    margin-left: 10%;
    margin-right: 10%;
}

.inflation-heading {
    margin-left: 1%;
    margin-bottom: 1%;
}

.inflation-heading h4 {
    margin-top: 1%;
    margin-bottom: 0;
}

.grid {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-auto-rows: auto;
    column-gap: 1%;
    row-gap: 1%;
    margin-left: 1%;
}

.grid-img {
    width: 100%;
    height: 50%;
}

.larry-buchanam {
    margin-top: 1%;
    margin-left: 11%;
}

.larry-buchanam hr {
    width: 6%;
    margin-left: 0;
}

.article-2 iframe {
    width: 100%;
    height: 400px;
}

.jumbo {
    width: 100%;
}

.jumbo-fig {
    margin: 0;
}

.main-grid {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 69% 29%;
    grid-template-rows: auto;
    column-gap: 2%;
    margin-top: 1%;
}

.more-grid {
    display: grid;
    grid-template-columns: 32.333% 32.333% 32.333%;
    column-gap: 1%;
    row-gap: 1%;
    margin-left: 1%;
}

.more-grig-img {
    width: 100%;
    height: 200px;
}

.grid-aside {
    margin-top: 0;
    width: 80%;
}

.grid-aside h5 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.grid-aside hr {
    color: light grey;
}

.editor {
    margin-left: 10%;
    margin-right: 35%;
}

.advert {
    background-color: #eeeeeef5;
    height: 300px;
}